body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(212, 204, 204);
}
ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none;}
.bar {
    background-color: #f9f9fb;
    padding:3px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
    border-radius: 20px;
    
}
header{
    display: flex;
}
main {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: flex;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
aside {
    padding-left: 15px;
}
nav {
    
}
figure {
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    padding: 5px;
    margin-left: 88%;
    margin-right: -11%;
}
figcaption{
    text-align: center;

    
}
.historia{
    margin-top: -78%;
    margin-right: 13%;
}
.astroObs{
    margin-top: -36%;
    margin-right: 13%;
}

.nebula{
    margin-top: 10%;
    margin-right: -15%;
}
.radioAstronomia{
    margin-right: 13%;
}

.astronomiaInfravermelho{
    margin-top: -37%;
    
    margin-right: 13%;

}
.astronomiaOptica{
    margin-top: -95%;
    margin-right: 13%;
}
.astronomiaUltravioleta{
    margin-right: 13%;
}
.AstronomiaRaio{
    margin-right: 13%;
}
.grav{
    margin-top: 35%;
    margin-right: -14%
}
.camposNao{
    margin-right: 13%;
}
.astrometriaMec{
    margin-right: 13%;
}
.observable{
    margin-right: -14%;
}
.titleAside{
    margin-left: 40%;
    height: 70px;
    width: 100%;
    margin-right: -60px;
    

}
aside{
    display: flex;

}
.navLink{

    margin-top: 70%;
    height: 20%;
    margin-left: -20%;
    padding: 20px;
}
li{
    padding: 10px;
}
form{
    display: flex;
    margin-left: -5%;
    margin-top: 1%;
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 40px;
    width: 17%;
    

}
input{
        display: block;
    box-sizing: border-box;
    min-height: 32px;
    width: 100%;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    padding: 4px 8px;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.375;
}
button{
    background-color: #f8f9fa;
    color: #202122;
    border-color: #a2a9b1;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}
button:hover {
    background-color: rgb(175, 175, 175);
    cursor: pointer;
  }
.logo{
    width: 400px;
    height: 130px;
    display: flex;
    margin-left: 20%;
    margin-top: -1%;
}